body, h1, p, ul, li, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Arial', sans-serif;
}

/* 전체 배경색과 텍스트 색상 설정 */
body {
    background-color: #FF0000; /* 배경색을 빨간색으로 변경 */
    color: white; /* 텍스트 색상을 흰색으로 변경 */
}

/* 네비게이션 바 스타일 */
.navbar {
    background-color: #FF0000; /* 네비게이션 바 배경을 빨간색으로 변경 */
    color: white;
    padding: 20px; /* 상하좌우 패딩 조정 */
    text-align: left; /* 왼쪽 정렬로 변경 */
}

.navbar .blog-title, .navbar nav {
    display: inline; /* inline으로 변경하여 같은 라인에 표시 */
}

.navbar .blog-title {
    font-size: 2em; /* 글씨 크기를 네비게이션 바 메뉴보다 크게 설정 */
    font-weight: bold; /* 글씨를 굵게 설정 */
    margin-right: 40px; /* 'BLOG'와 다른 메뉴 항목 사이의 간격 */
}

.navbar nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* 추가된 마진 제거 */
    display: inline; /* 네비게이션 바를 위한 인라인 디스플레이 */
}

.navbar nav ul li {
    display: inline; /* 항목들을 가로로 나열 */
    padding: 0 20px; /* 좌우 패딩 조정 */
}

.navbar nav ul li a {
    color: white;
    text-transform: uppercase;
}



/* 메인 콘텐츠 스타일 */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.hero h1, .hero h2 {
    font-size: 72px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: -2px;
}

/* 슬라이드 컨테이너 스타일 */
.slider-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px; /* 컨테이너 주위에 패딩 추가 */
  }
  
  /* 슬라이드 이미지 스타일 */
  .slide-image {
    width: 100%;
    height: 300px; /* 슬라이드 높이 설정 */
    object-fit: contain;
  }
  
  /* 슬라이드 내용 스타일 */
  .slide-content {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-top: 30px; /* 상단 마진 추가 */
    margin-bottom: 30px; /* 하단 마진 추가 */
  }
  
  /* 슬라이드 내용 타이틀 스타일 */
  .slide-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
  }
  
  /* 슬라이드 내용 설명 스타일 */
  .slide-description {
    font-size: 16px;
    line-height: 1.4;
    color: black;
  }

/* 메인 제목 스타일 */
h1 {
    text-align: center;
}