<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}기본 제목{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/css/styles.css' %}">
    <!-- 추가된 부분: Google Fonts에서 원하는 글씨체를 가져옵니다 -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="navbar">
        <span class="blog-title">BLOG</span>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">HOME</a></li>
                <li><a href="{% url 'about' %}">ABOUT</a></li>
                <li><a href="{% url 'works' %}">WORKS</a></li>
                <li><a href="{% url 'newsroom' %}">NEWSROOM</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}
    <!-- 개별 페이지에서 채워질 내용 -->
    {% endblock %}
</body>
</html>
